body {
    background-color: rgb(205, 236, 232);
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.title {
  font-family: 'Cinzel', serif;
  color: rgba(0,0,0, 0.4);
  font-size: 100px;
  text-align: center;
  
}

.body-font {
  font-family: 'Cinzel', serif;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: normal;
  font-size: 35px;
  border: 10px solid #f1f1f1;
  position: absolute; /* Stay fixed */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 600px;
  padding: 20px;
  text-align: center;
}